body {
    margin: 0;
    background-image: url("./media/static.gif");
    background-size: cover;
}

a {
    color: inherit;
    text-decoration: inherit;
}

#title {
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;  	
	margin: auto;

    width: 300px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
}

#title #randWord {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hidden {
    position: absolute;	
	bottom: 0;
	right: 0;  		

    width: 150px;
    height: 50px;
    background-color: rgba(255, 0, 255, 0);
}

#hidden p {
    color: rgba(0, 0, 0, 0);
}

#hidden:hover {
    background-color: rgba(255, 0, 255, 0.5);
}

#hidden:hover p {
    color: black;
}